<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Proyecto1</display-name>
    <servlet>
        <servlet-name>ServletHoroscopos</servlet-name>
        <servlet-class>com.fer.controller.ServletHoroscopos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServltNomina</servlet-name>
        <servlet-class>com.fer.controller.ServltNomina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeltGuardarUsiario</servlet-name>
        <servlet-class>com.fer.controller.ServeltGuardarUsiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarTrabajador</servlet-name>
        <servlet-class>com.fer.controller.ServletActualizarTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeltActualizarTrabajador</servlet-name>
        <servlet-class>com.fer.controller.ServeltActualizarTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarPorId</servlet-name>
        <servlet-class>com.fer.controller.ServletBuscarPorId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarTrabajador</servlet-name>
        <servlet-class>com.fer.controller.ServletEliminarTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarTodos</servlet-name>
        <servlet-class>com.fer.controller.ServletBuscarTodos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletHoroscopos</servlet-name>
        <url-pattern>/horoscopo.aspx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServltNomina</servlet-name>
        <url-pattern>/nomina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeltGuardarUsiario</servlet-name>
        <url-pattern>/ServeltGuardarUsiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarTrabajador</servlet-name>
        <url-pattern>/ServletActualizarTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeltActualizarTrabajador</servlet-name>
        <url-pattern>/ActualizarTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarPorId</servlet-name>
        <url-pattern>/ServletBuscarPorId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarTrabajador</servlet-name>
        <url-pattern>/ServletEliminarTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarTodos</servlet-name>
        <url-pattern>/ServletBuscarTodos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
